.ttd-tabs a,
.ttd-tabs button,
.ttd-tabs input[type=button] {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}


/* ttd-tabs bar */

.ttd-tabs {
    background: rgb(45, 62, 80);
    position: relative;
    z-index: 9999;
}

.ttd-tabs::after {
    display: block;
    content: "";
    width: 76px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background: -moz-linear-gradient(left, rgba(45, 62, 80, 0) 0%, rgba(45, 62, 80, 1) 28%, rgba(45, 62, 80, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(45, 62, 80, 0)), color-stop(28%, rgba(45, 62, 80, 1)), color-stop(100%, rgba(45, 62, 80, 1)));
    background: -webkit-linear-gradient(left, rgba(45, 62, 80, 0) 0%, rgba(45, 62, 80, 1) 28%, rgba(45, 62, 80, 1) 100%);
    background: -o-linear-gradient(left, rgba(45, 62, 80, 0) 0%, rgba(45, 62, 80, 1) 28%, rgba(45, 62, 80, 1) 100%);
    background: -ms-linear-gradient(left, rgba(45, 62, 80, 0) 0%, rgba(45, 62, 80, 1) 28%, rgba(45, 62, 80, 1) 100%);
    background: linear-gradient(to right, rgba(45, 62, 80, 0) 0%, rgba(45, 62, 80, 1) 28%, rgba(45, 62, 80, 1) 100%);
}

.ttd-tabs {
    position: relative;
}

.ttd-tabs__list {
    width: 99999px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ttd-tabs__list::after {
    display: table;
    content: "";
    clear: both;
}

.ttd-tabs>ul>li {
    display: inline-block;
    float: left;
    opacity: 1;
    visibility: visible;
}

.ttd-tabs__item.ttd-hide {
    opacity: 0;
    visibility: hidden;
}

.ttd-tabs__item>a {
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 90px;
}

.ttd-tabs__item>a:hover {
    color: rgb(25, 189, 155);
}

.ttd-tabs__item>a:active {
    color: rgba(25, 189, 155, .65);
}


/* Home button */

.ttd-tabs>ul>li>a>.fa {
    font-size: 34px;
    padding: 0 9px;
}


/* Active */

.ttd-tabs__item_active {
    background: rgb(25, 189, 155);
}

.ttd-tabs__item_active:hover {
    opacity: .85;
}

.ttd-tabs__item_active:active {
    opacity: .7;
}

.ttd-tabs__item_active>a,
.ttd-tabs__item_active>a:hover {
    color: rgba(255, 255, 255, 1);
}


/* dropdown */

.ttd-tabs__dropdown-toggle {
    border: 0;
    outline: 0;
    box-shadow: none;
    display: inline-block;
    line-height: 90px;
    background: none;
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    padding: 0 20px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer!important;
    opacity: 0;
    visibility: hidden;
}

.ttd-show>.ttd-tabs__dropdown-toggle {
    opacity: 1;
    visibility: visible;
}

.ttd-show>.ttd-tabs__dropdown-toggle:hover {
    color: rgb(25, 189, 155);
}

.ttd-tabs__dropdown-toggle:active,
.ttd-open>.ttd-tabs__dropdown-toggle {
    color: rgba(25, 189, 155, .65);
}

.ttd-tabs__dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 0;
    max-width: 300px;
    background: rgba(45, 62, 80, .8);
    opacity: 0;
    visibility: hidden;
}

.ttd-open>.ttd-tabs__dropdown-list {
    opacity: 1;
    visibility: visible;
    top: 90px;
}

.ttd-tabs__dropdown-list>li {
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
}

.ttd-open>.ttd-tabs__dropdown-list>.ttd-show {
    opacity: 1;
    visibility: visible;
    max-height: 50px;
}

.ttd-tabs__dropdown-list>.ttd-tabs__item>a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 1);
    padding: 15px 15px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.ttd-open>.ttd-tabs__dropdown-list>.ttd-tabs__item>a:hover {
    background: rgb(25, 189, 155);
}

.ttd-open>.ttd-tabs__dropdown-list>.ttd-tabs__item>a:active {
    background: rgba(25, 189, 155, .65);
}


/* Media Queries */

@media all and (max-width:699px) {
    .ttd-tabs::after {
        width: 55px;
    }
    .ttd-tabs__item>a {
        font-size: 14px;
        padding: 0 15px;
        line-height: 50px;
    }
    .ttd-tabs__item>a>.fa {
        font-size: 24px;
        padding: 0;
    }
    /* Dropdown */
    .ttd-tabs__dropdown-toggle {
        line-height: 50px;
        font-size: 21px;
        padding: 0 10px;
    }
    .ttd-tabs__dropdown-list> {
        top: 30px
    }
    .ttd-open>.ttd-tabs__dropdown-list {
        top: 50px;
    }
    .ttd-tabs__dropdown-list>.ttd-tabs__item>a {
        padding: 10px;
        font-size: 12px;
        line-height: 16px;
    }
}


/* Transition */

.ttd-tabs__item,
.ttd-tabs__item>a,
.ttd-tabs__item>a>.fa,
.ttd-tabs__dropdown-toggle,
.ttd-tabs__dropdown,
.ttd-tabs__dropdown-list,
.ttd-tabs__dropdown-list>.ttd-tabs__item,
.ttd-tabs__dropdown-list>.ttd-tabs__item>a {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.ttd-tabs__item_active:active,
a:active,
button:active,
input[type=button] {
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: all 0 ease!important;
    transition: none!important;
}